<div class="aside aside-extended bg-white overflow-hidden drawer drawer-start " id="kt_aside"
      data-kt-drawer="true"
      data-kt-drawer-name="aside"
      data-kt-drawer-activate="{default: true, lg: false}"
      data-kt-drawer-overlay="true" data-kt-drawer-width="auto"
      data-kt-drawer-direction="start"
      data-kt-drawer-toggle="#kt_aside_toggle"
      style="width: 70px !important;transition: none !important;">
  <div class="aside-primary d-flex flex-column align-items-lg-center flex-row-auto position-relative">
    <div class="bg-primary mb-4 position-relative d-flex align-items-center justify-content-center flex-column-auto fs-1 left-0 w-100"
         style="height: 88px;">
      <div class="fw-bolder text-light">ATR</div>
    </div>
    <div class="aside-nav d-flex flex-column flex-lg-center justify-content-start flex-column-fluid w-100 pb-5 px-3">
      <div class="menu-item py-2">
        <% if current_user.administrator? %>
          <%= link_to dashboard_staffs_path, class: 'menu-link text-hover-primary d-flex flex-column' do %>
            <span class="menu-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="staffs">
              <%= bootstrap_icon 'people-fill', width: '40' %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="aside-footer d-flex flex-column align-items-center flex-column-auto">
      &nbsp;
    </div>
  </div>
</div>
