<% if flash.any? %>
  <div data-controller="sweet-alert">
    <% if flash[:success] || flash[:notice] %>
      <script>
        Swal.fire({
          icon: 'success',
          title: '<%= flash[:success] || flash[:notice] %>',
          position: 'center',
          showConfirmButton: true
        });
      </script>
    <% elsif flash[:info] %>
      <script>
        Swal.fire({
          icon: 'info',
          title: '<%= flash[:info] %>',
          position: 'center',
          showConfirmButton: true
        });
      </script>
    <% elsif flash[:alert] || flash[:danger] || flash[:error] %>
      <script>
        Swal.fire({
          icon: 'error',
          title: '<%= flash[:alert] || flash[:danger] || flash[:error]&.html_safe %>',
          position: 'center',
          showConfirmButton: true
        });
      </script>
    <% end %>
  </div>
<% end %>
